<div id='header' class='col-md-12'>
  <h1 id='mainHeader'>Player Clock</h1>
  <h5 id='subHeader'>How much of your lifetime has been consumed by Steam?</h5>
  <hr>
</div>

<div id='reportInputContainer' class='row'>
  <div id='reportFileContainer' class='col-md-6 col-md-offset-4'>
    <form action='/playtime' method='post'>
      <textarea id='reportInput' name='playerid' rows='1' cols='60' placeholder='Your Steam ID, i.e: 76561198023727681'></textarea>
      <p class='help-block'>Login to <b><a href="https://steamcommunity.com/">https://steamcommunity.com/</a></b> to find your unique Steam ID.</p>
      <button id='submitBtn' type='submit' class='btn btn-primary'>Go!</button>
    </form>
  </div>
</div>

<hr>

<%= erb :totals %>
